* {
  margin: 0px;
  padding: 0px;
  font-family: arial;
}

body {
  background-color: #cccccc;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  width: 350px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 20px;
  justify-content: center;
  border: 2px solid white;
  border-bottom: 0px;
  background-color: #bfbfbf;
}

#Spelregels {
  position: absolute;
  left: 41%;
  top: 45%;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 20px;
}

#Spelregels h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

#Spelregels h1 {
  margin-bottom: 10px;
}

#Spelregels button {
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
  width: auto;
  border-radius: 15px;
  background-color: #bfbfbf;
}

#myNumber {
  width: 40px;
}

#startbtn {
  width: 50px;
}

#secenddis {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 240px;
}

#secret {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
}

#secret div {
  background-color: #000d1a;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}

.bolekes {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}

#invoer {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 2px solid white;
  width: 350px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background: linear-gradient(#bfbfbf, #cccccc);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

 #invoer div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}

#orange {
  background-color: orange;
}

#pink {
  background-color: #ff667d;
}


#results {
  display: flex;
  flex-direction: column;
}

#results div {
  display: flex;
  flex-direction: row;
}

.result {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  margin: 3px;
}

.nakijkrows {
  width: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 18px;
}

#nakijkrow_1 {
  margin-top: 15px;
}

#nailedit {
  margin-bottom: 0px;
}

#nailedit div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
  background-color: red;
}

#results {
  margin-top: 15px;
}
